a, button {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #ffe3d9;
}

button {
  color: white;
}

.button-add-step {
  background-color: #7f50ff;
}

.button-add-todo {
  background-color: #50d0ff;
}

.button-delete {
  background-color: #ff50d0;
}

.button-done {
  background-color: #ff7f50;
}

.button-login, .button-signup {
  margin: 20px 0 0;
  background-color: #ff7f50;
}

.button-nav {
  margin: 0px 10px;
  background-color: white;
  color: #ff7f50;
}

.button-nav-logout {
  padding: 8px 10px;
}

.button-undo {
  background-color: gray;
}

.error-message {
  width: 100%;
  color: red;
}

.error-message li {
  margin: 0 0 0 30px;
  list-style: disc;
}

.error-message p {
  margin: 0 0 0 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

.form.add-step {
  background-color: #e3d9ff;
  border: 1px solid #7f50ff;
}

.form.add-todo {
  background-color: #d9f5ff;
  border: 1px solid #50d0ff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

form label {
  width: 140px;
}

.form-input {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h2 {
  padding: 0 0 20px;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 50px 0;
  width: 600px;
  background-color: white;
  border: 1px solid #ff7f50;
  border-radius: 8px;
}

.home-description {
  padding: 0 0 30px;
}

.home-description h2 {
  text-align: center;
}

.home-description li {
  margin: 0 0 0 30px;
  list-style: disc;
}

.home-preview {
  width: 502px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #ff7f50;
  color: white;
}

input, textarea {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: inherit;
}

.input-add-step {
  border: 1px solid #7f50ff;
}

.input-add-todo{
  border: 1px solid #50d0ff;
}

label {
  width: 60px;
}

.logo {
  padding: 0px 20px;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  color: white;
}

.nav-bar {
  padding: 0px 10px;
  display: flex;
  align-items: flex-end;
}

.nav-message {
  padding: 0 10px 0 0;
}

.step-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step-item {
  padding: 20px;
  margin: 20px;
  background-color: #ffe3d9;
  border: 1px solid #ff7f50;
  border-radius: 8px;
}

.step-item p {
  padding: 0px 0px 20px;
}

textarea {
  height: 60px;
}

.todo-header {
  display: flex;
  justify-content: space-between;
}

.todo-item {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border: 1px solid #ff7f50;
  border-radius: 8px;
}

.todo-list {
  width: 500px;
  margin: 0 auto;
}

.toggle-detail {
  cursor: pointer;
}
